.active-piece-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-piece-card {
    width: 50%;
    border: 1px black solid;
    padding: 16px;
    display: flex;
    align-items: center;
}

.iframe-container {
    position: relative;
    width: 50%;
    height: 300px;
}

@media screen and (max-width: 768px) {
    .active-piece-card {
        display: block;
    }
    .iframe-container {
        width: 100%;
    }
}

.iframe-container:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}
